[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
ipykernel = "*"
numpy = "*"
pandas = "*"
nb-black = "*"
scikit-learn = "*"
matplotlib = "*"
python-dotenv = "*"
gunicorn = "*"
seaborn = "*"
scipy = "*"
tensorflow = "*"
tflearn = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
